<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Efectos de la violencia</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header">

        </header>
        <h2>Efectos de la violencia</h2>
        <br/>
        <form th:action="@{/crearEfectos}" method="post" th:object="${violencia}">
            <div class="errorblock" th:if="${#fields.hasErrors('*')}">
                <ul>
                    <li th:each="err : ${#fields.errors('*')}"
                        th:text="${err}">Input is incorrect</li>
                </ul>
            </div>
            
            <label for="efectos">Efectos</label>
            <input type="text" name="efectos" th:field="*{efectos}"  required/>
            <span th:if="${#fields.hasErrors('efectos')}" th:errors="*{efectos}">Error nombre</span>
            <br/>
            
            <label for="efectos_fisicos">Efectos Fisicos</label>
            <input type="text" name="efectos_fisicos" th:field="*{efectos_fisicos}" required/>
            <span th:if="${#fields.hasErrors('efectos_fisicos')}" th:errors="*{efectos_fisicos}">Error nombre</span>
            <br/>

            <label for="efectos_psic">Efectos psicologicos</label>
            <input type="text" name="efectos_psic" th:field="*{efectos_psic}"  required/>
            <span th:if="${#fields.hasErrors('efectos_psic')}" th:errors="*{efectos_psic}">Error nombre</span>
            <br/>


            <input type="submit" name="guardar" value="Guardar"/>
        </form>
        <footer th:replace="layout/plantilla :: footer">

        </footer>
    </body>
</html>