<!--  <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Expediente</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header">

        </header>
        <h2>Crear expediente</h2>
        <a th:href="@{/ver/{id}}">Regresar</a>
        <br/>
        <form th:action="@{/crearExpediente}" method="post" th:object="${expediente}">
            <div class="errorblock" th:if="${#fields.hasErrors('*')}">
                <ul>
                    <li th:each="err : ${#fields.errors('*')}"
                        th:text="${err}">Input is incorrect</li>
                </ul>
            </div>
            <label for="curp">Hora de entrada</label>
            <input type="time" name="h_entrada" th:field="*{h_entrada}" required/>
            <span th:if="${#fields.hasErrors('h_entrada')}" th:errors="*{h_entrada}">Error nombre</span>
            <br/>

            <label for="nombre">Nombre del entrevistador:</label>
            <input type="text" name="nombre_entrevistador" th:field="*{nombre_entrevistador}"  required pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+" minlength="4" />
            <span th:if="${#fields.hasErrors('nombre_entrevistador')}" th:errors="*{nombre_entrevistador}">Error nombre</span>
            <br/>

            <label for="nombre">Leer</label>
            <input type="text" name="leer" th:field="*{leer}"  required/>
            <span th:if="${#fields.hasErrors('leer')}" th:errors="*{leer}">Error nombre</span>
            <br/>

            <label for="nombre">Escribir</label>
            <input type="text" name="escribir" th:field="*{escribir}"  required/>
            <span th:if="${#fields.hasErrors('escribir')}" th:errors="*{escribir}">Error nombre</span>
            <br/>


            <label for="nombre">Escolaridad</label>
            <input type="text" name="escolaridad" th:field="*{escolaridad}" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+" minlength="4" required/>
            <span th:if="${#fields.hasErrors('escolaridad')}" th:errors="*{escolaridad}">Error nombre</span>
            <br/>

            <label for="nombre">Tipo de vivienda</label>
            <input type="text" name="tipo_vivienda" th:field="*{tipo_vivienda}" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+" minlength="4" required/>
            <span th:if="${#fields.hasErrors('tipo_vivienda')}" th:errors="*{tipo_vivienda}">Error nombre</span>
            <br/>

            <label for="nombre">Servicio medico con el que cuenta</label>
            <label for="gobierno">Gobierno estatal</label>
            <input type="checkbox" name="gobierno" th:field="*{servicio_medico}" value="gobierno"/>
            <br/>
            <label for="imss">IMSS</label>
            <input type="checkbox" name="imss" th:field="*{servicio_medico}" value="imss"/>
            <br/>
            <label for="isste">ISSTE</label>
            <input type="checkbox" name="isste" th:field="*{servicio_medico}" value="isste"/>
            <br/>
            <label for="seguro_popular">SEGURO POPULAR</label>
            <input type="checkbox" name="seguro_popular" th:field="*{servicio_medico}" value="seguro_popular"/>
            <br/>
            <label for="sedena">SEDENA</label>
            <input type="checkbox" name="sedena" th:field="*{servicio_medico}" value="sedena"/>
            <br/>
            <label for="privado">MEDICO PRIVADO</label>                                   
            <input type="checkbox" name="privado" th:field="*{servicio_medico}" value="privado"/>
            <br/>
            <label for="pemex">PEMEX</label>                                               
            <input type="checkbox" name="pemex" th:field="*{servicio_medico}" value="pemex"/>
            <br/>
            <label for="bienestar">BECAS PARA EL BIENESTAR</label>
            <input type="checkbox" name="bienestar" th:field="*{servicio_medico}" value="bienestar"/>
            <br/>
            <label for="ninguno">NINGUNO</label>
            <input type="checkbox" name="ninguno" th:field="*{servicio_medico}" value="ninguno"/>
            <br/>
            <label for="otro">OTRO</label>
            <input type="checkbox" name="otro" th:field="*{servicio_medico}" value="otro"/>
            <br/>                                                                                                                    
            <span th:if="${#fields.hasErrors('servicio_medico')}" th:errors="*{servicio_medico}">Error nombre</span>
            <br/>

            <label for="nombre">Actividad que realiza</label>
            <input type="text" name="actividad" th:field="*{actividad}"  required/>
            <span th:if="${#fields.hasErrors('actividad')}" th:errors="*{actividad}">Error nombre</span>
            <br/>

            <label for="nombre">Fuente de ingreso</label>
            <input type="text" name="fuente_ingreso" th:field="*{fuente_ingreso}"  required/>
            <span th:if="${#fields.hasErrors('fuente_ingreso')}" th:errors="*{fuente_ingreso}">Error nombre</span>
            <br/>


            <label for="nombre">Ingreso mensual</label>
            <input type="text" name="ingreso_mensual" th:field="*{ingreso_mensual}"  required/>
            <span th:if="${#fields.hasErrors('ingreso_mensual')}" th:errors="*{ingreso_mensual}">Error nombre</span>
            <br/>

            <label for="nombre">Tipo de violencia</label>
            <input type="text" name="tipo_violencia" th:field="*{tipo_violencia}"  required/>
            <span th:if="${#fields.hasErrors('tipo_violencia')}" th:errors="*{tipo_violencia}">Error nombre</span>
            <br/>

            <label for="nombre">Ambito de la violencia</label>
            <input type="text" name="ambito_violencia" th:field="*{ambito_violencia}"  required/>
            <span th:if="${#fields.hasErrors('ambito_violencia')}" th:errors="*{ambito_violencia}">Error nombre</span>
            <br/>

            <label for="nombre">Es victima de delincuencia?</label>
            <input type="text" name="victima_delincuencia" th:field="*{victima_delincuencia}"  required/>
            <span th:if="${#fields.hasErrors('victima_delincuencia')}" th:errors="*{victima_delincuencia}">Error nombre</span>
            <br/>

            <label for="nombre">Es victima de trata de personas?</label>
            <input type="text" name="victima_trata" th:field="*{victima_trata}"  required/>
            <span th:if="${#fields.hasErrors('victima_trata')}" th:errors="*{victima_trata}">Error nombre</span>
            <br/>

            <label for="nombre">Conoce al agresor?</label>
            <input type="text" name="conoce_agresor" th:field="*{conoce_agresor}"  required/>
            <span th:if="${#fields.hasErrors('conoce_agresor')}" th:errors="*{conoce_agresor}">Error nombre</span>
            <br/>

            <label for="nombre">Informacion adicional</label>
            <input type="text" name="info_adicional" th:field="*{info_adicional}"  required/>
            <span th:if="${#fields.hasErrors('info_adicional')}" th:errors="*{info_adicional}">Error nombre</span>
            <br/>
            
            <label for="curp">Hora de salida</label>
            <input type="time" name="h_salida" th:field="*{h_salida}" required="Llene este campo"/>
            <span th:if="${#fields.hasErrors('h_salida')}" th:errors="*{h_salida}">Error nombre</span>
            <br/>
            <input type="submit" name="guardar" value="Guardar"/>
        </form>
        <footer th:replace="layout/plantilla :: footer">

        </footer>
    </body>
</html> -->


<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>CJM</title>
<link href="css/styles.css" rel="stylesheet" />
<link
	href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css"
	rel="stylesheet" crossorigin="anonymous" />
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
	crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
	<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
		<a class="navbar-brand" href="index.html">CJM</a>
		<button class="btn btn-link btn-sm order-1 order-lg-0"
			id="sidebarToggle" href="#">
			<i class="fas fa-bars"></i>
		</button>
		<!-- Navbar Search-->
		<form
			class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
			<div class="input-group">
				<input class="form-control" type="text" placeholder="Search for..."
					aria-label="Search" aria-describedby="basic-addon2" />
				<div class="input-group-append">
					<button class="btn btn-primary" type="button">
						<i class="fas fa-search"></i>
					</button>
				</div>
			</div>
		</form>
		<!-- Navbar-->
		<ul class="navbar-nav ml-auto ml-md-0">
			<li class="nav-item dropdown"><a
				class="nav-link dropdown-toggle" id="userDropdown" href="#"
				role="button" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
				<form th:action="@{/logout}" method="post">
					<div class="dropdown-menu dropdown-menu-right"
						aria-labelledby="userDropdown">
						<a class="dropdown-item" href="#">Settings</a> <a
							class="dropdown-item" href="#">Activity Log</a>
						<div class="dropdown-divider"></div>
						<input type="submit" class="dropdown-item" value="Cerrar Sesion" />
					</div>
				</form></li>
		</ul>
	</nav>
	<div id="layoutSidenav">
		<div id="layoutSidenav_nav">
			<nav class="sb-sidenav accordion sb-sidenav-dark"
				id="sidenavAccordion">
				<div class="sb-sidenav-menu">
					<div class="nav">
						<div class="sb-sidenav-menu-heading">Trabajo Social</div>
						<a class="nav-link" href="menu">
							<div class="sb-nav-link-icon">
								<i class="fas fa-file-signature"></i>
							</div> Preregistro
						</a>
						<div class="sb-sidenav-menu-heading">Interface</div>
						<a class="nav-link collapsed" href="#" data-toggle="collapse"
							data-target="#collapseLayouts" aria-expanded="false"
							aria-controls="collapseLayouts">
							<div class="sb-nav-link-icon">
								<i class="fas fa-columns"></i>
							</div> Layouts
							<div class="sb-sidenav-collapse-arrow">
								<i class="fas fa-angle-down"></i>
							</div>
						</a>
						<div class="collapse" id="collapseLayouts"
							aria-labelledby="headingOne" data-parent="#sidenavAccordion">
							<nav class="sb-sidenav-menu-nested nav">
								<a class="nav-link" href="layout-static.html">Static
									Navigation</a> <a class="nav-link" href="layout-sidenav-light.html">Light
									Sidenav</a>
							</nav>
						</div>
						<a class="nav-link collapsed" href="#" data-toggle="collapse"
							data-target="#collapsePages" aria-expanded="false"
							aria-controls="collapsePages">
							<div class="sb-nav-link-icon">
								<i class="fas fa-book-open"></i>
							</div> Pages
							<div class="sb-sidenav-collapse-arrow">
								<i class="fas fa-angle-down"></i>
							</div>
						</a>
						<div class="collapse" id="collapsePages"
							aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
							<nav class="sb-sidenav-menu-nested nav accordion"
								id="sidenavAccordionPages">
								<a class="nav-link collapsed" href="#" data-toggle="collapse"
									data-target="#pagesCollapseAuth" aria-expanded="false"
									aria-controls="pagesCollapseAuth"> Authentication
									<div class="sb-sidenav-collapse-arrow">
										<i class="fas fa-angle-down"></i>
									</div>
								</a>
								<div class="collapse" id="pagesCollapseAuth"
									aria-labelledby="headingOne"
									data-parent="#sidenavAccordionPages">
									<nav class="sb-sidenav-menu-nested nav">
										<a class="nav-link" href="login.html">Login</a> <a
											class="nav-link" href="register.html">Register</a> <a
											class="nav-link" href="password.html">Forgot Password</a>
									</nav>
								</div>
								<a class="nav-link collapsed" href="#" data-toggle="collapse"
									data-target="#pagesCollapseError" aria-expanded="false"
									aria-controls="pagesCollapseError"> Error
									<div class="sb-sidenav-collapse-arrow">
										<i class="fas fa-angle-down"></i>
									</div>
								</a>
								<div class="collapse" id="pagesCollapseError"
									aria-labelledby="headingOne"
									data-parent="#sidenavAccordionPages">
									<nav class="sb-sidenav-menu-nested nav">
										<a class="nav-link" href="401.html">401 Page</a> <a
											class="nav-link" href="404.html">404 Page</a> <a
											class="nav-link" href="500.html">500 Page</a>
									</nav>
								</div>
							</nav>
						</div>
						<div class="sb-sidenav-menu-heading">Addons</div>
						<a class="nav-link" href="charts.html">
							<div class="sb-nav-link-icon">
								<i class="fas fa-chart-area"></i>
							</div> Charts
						</a> <a class="nav-link" href="tables.html">
							<div class="sb-nav-link-icon">
								<i class="fas fa-table"></i>
							</div> Tables
						</a>
					</div>
				</div>
				<div class="sb-sidenav-footer">
					<div class="small">Logged in as:</div>
					Start Bootstrap
				</div>
			</nav>
		</div>
		<div id="layoutSidenav_content">
			<div id="layoutAuthentication_content">
				<main>
					<div class="container-fluid">
						<h1 class="mt-4">Formato de Expediente</h1>
						<ol class="breadcrumb mb-4">
							<li class="breadcrumb-item active">Expediente</li>
						</ol>

						<div class="card mb-4">
							<div class="row justify-content-center">
								<div class="col-lg-12">
									<div class="card shadow-lg border-0 rounded-lg mt-3">
										<div class="card-header">
											<!--  <h3 class="text-center font-weight-light my-2">Expediente</h3> -->
										</div>
										<div class="card-body">
											<form method="post" th:action="@{/crearExpediente}"
												th:object="${expediente}">
												<div class="form-row">
													<div class="col-md-4">
														<div class="form-group">
															<label class="small mb-1" for="horaEntrada">Hora
																de entrada:</label> <input type="datetime-local"
																name="h_entrada" class="form-control form-control-sm"
																th:field="*{h_entrada}" required /> <span
																th:if="${#fields.hasErrors('h_entrada')}"
																th:errors="*{h_entrada}">Error nombre</span>
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<label for="nombre" class="small mb-1">Nombre la
																entrevistadora:</label> <input
																class="form-control form-control-sm" id="inputFirstName"
																type="text" placeholder="Nombre"
																name="nombre_entrevistador"
																th:field="*{nombre_entrevistador}" required
																pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+" minlength="4" /> <span
																th:if="${#fields.hasErrors('nombre_entrevistador')}"
																th:errors="*{nombre_entrevistador}">Error nombre</span>
														</div>
													</div>
												</div>
												<ol class="breadcrumb mb-4">
													<li class="breadcrumb-item active">Formación
														Edcucativa</li>
												</ol>
												<div class="form-row">
													<div class="col-md-4">
														<div class="form-group">
															<label class="small mb-1" for="radioLeer">¿Sabe
																leer? </label>
															<div class="form-check">
																<input class="form-check-input" type="radio" name="leer"
																	id="leer1" value="Si" th:field="*{leer}"> <label
																	class="form-check-label" for="leer"> Si </label>
															</div>
															<div class="form-check">
																<input class="form-check-input" type="radio" name="leer"
																	id="leer2" value="No" th:field="*{leer}"> <label
																	class="form-check-label" for="leer"> No </label>
															</div>
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<label class="small mb-1" for="radioEscribir">¿Sabe
																escribir? </label>
															<div class="form-check">
																<input class="form-check-input" type="radio"
																	name="escribir" id="escribir1" th:field="*{escribir}"
																	value="Si"> <label class="form-check-label"
																	for="escribir"> Si </label>
															</div>
															<div class="form-check">
																<input class="form-check-input" type="radio"
																	name="escribir" id="escribir2" th:field="*{escribir}"
																	value="No"> <label class="form-check-label"
																	for="escribir"> No </label>
															</div>
														</div>
													</div>
												</div>
												<div class="form-row">
													<div class="col-md-4">
														<div class="form-group">
															<label class="small mb-1" for="selectEscolaridad">Escolaridad:</label>
															<select class="form-control form-control-sm"
																id="selectEscolaridad" name="escolaridad"
																th:field="*{escolaridad}" required="required">
																<option selected value="">...</option>
																<option th:value="Primaria">Primaria</option>
																<option th:value="Secundaria">Secundaria</option>
																<option th:value="Preparatoria_o_Bachillerato">Preparatoria
																	ó Bachilletaro</option>
																<option th:value="Carrera_Tecnica">Carrera
																	Técnica</option>
																<option th:value="Licenciatura">Licenciatura</option>
																<option th:value="Posgrado">Posgrado</option>
																<option th:value="Sin_Estudios">Sin Estudios</option>
															</select> <span th:if="${#fields.hasErrors('escolaridad')}"
																th:errors="*{escolaridad}">Error nombre</span>
														</div>
													</div>
												</div>
												<ol class="breadcrumb mb-4">
													<li class="breadcrumb-item active">Datos Económicos</li>
												</ol>
												<div class="col-md-4">
													<div class="form-group">
														<label class="small mb-1">Servicio médico con el
															que cuenta:</label>
													</div>
												</div>
												<div class="form-group">
													<div class="form-row">
														<div class="col-md-4">
															<div class="custom-control custom-checkbox">
																<input type="checkbox" class="custom-control-input"
																	name="gobierno" th:field="*{servicio_medico}"
																	value="gobierno" id="gobierno"> <label
																	class="custom-control-label" for="gobierno">Gobierno
																	estatal</label>
															</div>
														</div>
														<div class="col-md-4">
															<div class="custom-control custom-checkbox">
																<input type="checkbox" class="custom-control-input"
																	name="imss" th:field="*{servicio_medico}" value="imss"
																	id="imss"> <label class="custom-control-label"
																	for="imss">IMSS</label>
															</div>
														</div>
														<div class="col-md-4">
															<div class="custom-control custom-checkbox">
																<input type="checkbox" class="custom-control-input"
																	name="issste" th:field="*{servicio_medico}"
																	value="issste" id="issste"> <label
																	class="custom-control-label" for="issste">ISSSTE</label>
															</div>
														</div>
														<div class="col-md-4">
															<div class="custom-control custom-checkbox">
																<input type="checkbox" class="custom-control-input"
																	name="seguro_popular" th:field="*{servicio_medico}"
																	value="seguro_popular" id="seguro_popular"> <label
																	class="custom-control-label" for="seguro_popular">Seguro
																	Popular</label>
															</div>
														</div>
														<div class="col-md-4">
															<div class="custom-control custom-checkbox">
																<input type="checkbox" class="custom-control-input"
																	name="sedena" th:field="*{servicio_medico}"
																	value="sedena" id="sedena"> <label
																	class="custom-control-label" for="sedena">SEDENA</label>
															</div>
														</div>
														<div class="col-md-4">
															<div class="custom-control custom-checkbox">
																<input type="checkbox" class="custom-control-input"
																	name="privado" th:field="*{servicio_medico}"
																	value="privado" id="privado"> <label
																	class="custom-control-label" for="privado">Médico
																	privado</label>
															</div>
														</div>
														<div class="col-md-4">
															<div class="custom-control custom-checkbox">
																<input type="checkbox" class="custom-control-input"
																	name="pemex" th:field="*{servicio_medico}"
																	value="pemex" id="pemex"> <label
																	class="custom-control-label" for="pemex">PEMEX</label>
															</div>
														</div>
														<div class="col-md-4">
															<div class="custom-control custom-checkbox">
																<input type="checkbox" class="custom-control-input"
																	name="bienestar" th:field="*{servicio_medico}"
																	value="bienestar" id="bienestar"> <label
																	class="custom-control-label" for="bienestar">Becas
																	para el bienestar</label>
															</div>
														</div>
														<div class="col-md-4">
															<div class="custom-control custom-checkbox">
																<input type="checkbox" class="custom-control-input"
																	name="ninguno" th:field="*{servicio_medico}"
																	value="ninguno" id="ninguno"> <label
																	class="custom-control-label" for="ninguno">Ninguno</label>
															</div>
														</div>
														<div class="col-md-4">
															<div class="custom-control custom-checkbox">
																<input type="checkbox" class="custom-control-input"
																	name="otro" th:field="*{servicio_medico}" value="otro"
																	id="otro"> <label class="custom-control-label"
																	for="otro">Otro</label>
															</div>
														</div>
													</div>
													<span th:if="${#fields.hasErrors('servicio_medico')}"
														th:errors="*{servicio_medico}">Error nombre</span>
												</div>
												<div class="form-row">
													<div class="col-md-4">
														<div class="form-group">
															<label class="small mb-1" for="selectTipoVivienda">Actividad
																que realiza:</label> <select
																class="form-control form-control-sm" id="actividad"
																name="actividad" th:field="*{actividad}"
																required="required">
																<option selected value="">...</option>
																<option th:value="Estudia">Estudia</option>
																<option th:value="Jubilada_o_pensionada">Jubilada
																	o pensionada</option>
																<option th:value="Trabaja_en_el_hogar">Trabaja
																	en el hogar</option>
																<option th:value="Trabaja_fuera_del_hogar">Trabaja
																	fuera del hogar</option>
																<option th:value="Comerciante">Comerciante</option>
																<option th:value="Se_desconoce">Se desconoce</option>
																<option th:value="Otro">Otro</option>
																<option th:value="Actividad_ilicita">Actividad
																	ilicita</option>
															</select> <span th:if="${#fields.hasErrors('actividad')}"
																th:errors="*{actividad}">Error nombre</span>
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<label class="small mb-1" for="radioEscribir">Fuente
																de ingreso: </label>
															<div class="form-check">
																<input class="form-check-input" type="radio"
																	name="fuente_ingreso" id="fuente_ingreso1"
																	th:field="*{fuente_ingreso}" value="Si"> <label
																	class="form-check-label" for="fuente_ingreso">
																	Si </label>
															</div>
															<div class="form-check">
																<input class="form-check-input" type="radio"
																	name="fuente_ingreso" id="fuente_ingreso2"
																	th:field="*{fuente_ingreso}" value="No"> <label
																	class="form-check-label" for="fuente_ingreso">
																	No </label>
															</div>
															<span th:if="${#fields.hasErrors('fuente_ingreso')}"
																th:errors="*{fuente_ingreso}">Error nombre</span>
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<label for="nombre" class="small mb-1">Ingreso
																mensual:</label> <input class="form-control form-control-sm"
																id="ingreso_mensual" type="number"
																placeholder="Ingreso mensual" name="ingreso_mensual"
																th:field="*{ingreso_mensual}" required
																pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+" minlength="4" /> <span
																th:if="${#fields.hasErrors('ingreso_mensual')}"
																th:errors="*{ingreso_mensual}">Error nombre</span>
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<label class="small mb-1" for="selectTipoVivienda">Tipo
																de vivienda:</label> <select
																class="form-control form-control-sm"
																id="selectTipoVivienda" name="tipo_vivienda"
																th:field="*{tipo_vivienda}" required="required">
																<option selected value="">...</option>
																<option th:value="Casa">Casa</option>
																<option th:value="Departamento">Departamento</option>
																<option th:value="Cuarto">Cuarto</option>
															</select> <span th:if="${#fields.hasErrors('tipo_vivienda')}"
																th:errors="*{tipo_vivienda}">Error nombre</span>
														</div>
													</div>
												</div>
												<ol class="breadcrumb mb-4">
													<li class="breadcrumb-item active">Datos de Violencia</li>
												</ol>
												<div class="col-md-4">
													<div class="form-group">
														<label class="small mb-1">Tipo de violencia:</label>
													</div>
												</div>
												<div class="form-group">
													<div class="form-row">
														<div class="col-md-4">
															<div class="custom-control custom-checkbox">
																<input type="checkbox" class="custom-control-input"
																	name="fisica" th:field="*{tipo_violencia}"
																	value="fisica" id="fisica"> <label
																	class="custom-control-label" for="fisica">Física</label>
															</div>
														</div>
														<div class="col-md-4">
															<div class="custom-control custom-checkbox">
																<input type="checkbox" class="custom-control-input"
																	name="economica" th:field="*{tipo_violencia}"
																	value="economica" id="economica"> <label
																	class="custom-control-label" for="economica">Económica</label>
															</div>
														</div>
														<div class="col-md-4">
															<div class="custom-control custom-checkbox">
																<input type="checkbox" class="custom-control-input"
																	name="patrimonial" th:field="*{tipo_violencia}"
																	value="patrimonial" id="patrimonial"> <label
																	class="custom-control-label" for="patrimonial">Patrimonial</label>
															</div>
														</div>
														<div class="col-md-4">
															<div class="custom-control custom-checkbox">
																<input type="checkbox" class="custom-control-input"
																	name="psicologica" th:field="*{tipo_violencia}"
																	value="psicologica" id="psicologica"> <label
																	class="custom-control-label" for="psicologica">Psicológica</label>
															</div>
														</div>
														<div class="col-md-4">
															<div class="custom-control custom-checkbox">
																<input type="checkbox" class="custom-control-input"
																	name="sexual" th:field="*{tipo_violencia}"
																	value="sexual" id="sexual"> <label
																	class="custom-control-label" for="sexual">Sexual</label>
															</div>
														</div>
														<div class="col-md-4">
															<div class="custom-control custom-checkbox">
																<input type="checkbox" class="custom-control-input"
																	name="otro" th:field="*{tipo_violencia}" value="otro"
																	id="otro"> <label class="custom-control-label"
																	for="otro">Otro</label>
															</div>
														</div>
													</div>
													<span th:if="${#fields.hasErrors('servicio_medico')}"
														th:errors="*{servicio_medico}">Error nombre</span>
												</div>
												<div class="col-md-4">
													<div class="form-group">
														<label class="small mb-1">Ambito de la violencia:</label>
													</div>
												</div>
												<div class="form-group">
													<div class="form-row">
														<div class="col-md-4">
															<div class="custom-control custom-checkbox">
																<input type="checkbox" class="custom-control-input"
																	name="familiar" th:field="*{ambito_violencia}"
																	value="familiar" id="familiar"> <label
																	class="custom-control-label" for="familiar">Familiar</label>
															</div>
														</div>
														<div class="col-md-4">
															<div class="custom-control custom-checkbox">
																<input type="checkbox" class="custom-control-input"
																	name="institucional" th:field="*{ambito_violencia}"
																	value="institucional" id="institucional"> <label
																	class="custom-control-label" for="institucional">Institucional</label>
															</div>
														</div>
														<div class="col-md-4">
															<div class="custom-control custom-checkbox">
																<input type="checkbox" class="custom-control-input"
																	name="laboral _y_docente"
																	th:field="*{ambito_violencia}"
																	value="laboral _y_docente" id="laboral _y_docente">
																<label class="custom-control-label"
																	for="laboral _y_docente">Laboral y docente</label>
															</div>
														</div>
														<div class="col-md-4">
															<div class="custom-control custom-checkbox">
																<input type="checkbox" class="custom-control-input"
																	name="comunidad" th:field="*{ambito_violencia}"
																	value="comunidad" id="comunidad"> <label
																	class="custom-control-label" for="comunidad">Comunidad</label>
															</div>
														</div>
														<div class="col-md-4">
															<div class="custom-control custom-checkbox">
																<input type="checkbox" class="custom-control-input"
																	name="digital/cibernetica"
																	th:field="*{ambito_violencia}"
																	value="digital/cibernetica" id="digital/cibernetica">
																<label class="custom-control-label"
																	for="digital/cibernetica">Digital/Cibernetica</label>
															</div>
														</div>
														<div class="col-md-4">
															<div class="custom-control custom-checkbox">
																<input type="checkbox" class="custom-control-input"
																	name="feminicida" th:field="*{ambito_violencia}"
																	value="feminicida" id="feminicida"> <label
																	class="custom-control-label" for="feminicida">Feminicida</label>
															</div>
														</div>
														<div class="col-md-4">
															<div class="custom-control custom-checkbox">
																<input type="checkbox" class="custom-control-input"
																	name="obstetrica" th:field="*{ambito_violencia}"
																	value="obstetrica" id="obstetrica"> <label
																	class="custom-control-label" for="obstetrica">Obstetrica</label>
															</div>
														</div>
														<div class="col-md-4">
															<div class="custom-control custom-checkbox">
																<input type="checkbox" class="custom-control-input"
																	name="politica" th:field="*{ambito_violencia}"
																	value="politica" id="politica"> <label
																	class="custom-control-label" for="politica">Politica</label>
															</div>
														</div>
													</div>
													<span th:if="${#fields.hasErrors('servicio_medico')}"
														th:errors="*{servicio_medico}">Error nombre</span>
												</div>
												<div class="form-row">
													<div class="col-md-4">
														<div class="form-group">
															<label class="small mb-1" for="radioVictimaDelincuencia">¿Es
																víctima de delincuencia? </label>
															<div class="form-check">
																<input class="form-check-input" type="radio"
																	name="victima_delincuencia" id="victimaDelincuencia1"
																	value="Si" th:field="*{victima_delincuencia}">
																<label class="form-check-label"
																	for="victimaDelincuencia"> Si </label>
															</div>
															<div class="form-check">
																<input class="form-check-input" type="radio"
																	name="victima_delincuencia" id="victimaDelincuencia2"
																	value="No" th:field="*{victima_delincuencia}">
																<label class="form-check-label"
																	for="victimaDelincuencia"> No </label>
															</div>
															<span
																th:if="${#fields.hasErrors('victima_delincuencia')}"
																th:errors="*{victima_delincuencia}">Error nombre</span>
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<label class="small mb-1" for="radioVictimaDelincuencia">¿Es
																víctima de trata de personas? </label>
															<div class="form-check">
																<input class="form-check-input" type="radio"
																	name="victima_trata" id="victimaTrata1" value="Si"
																	th:field="*{victima_trata}"> <label
																	class="form-check-label" for="victimaTrata"> Si
																</label>
															</div>
															<div class="form-check">
																<input class="form-check-input" type="radio"
																	name="victima_trata" id="victimaTrata2" value="No"
																	th:field="*{victima_trata}"> <label
																	class="form-check-label" for="victimaTrata"> No
																</label>
															</div>
															<span th:if="${#fields.hasErrors('victima_trata')}"
																th:errors="*{victima_trata}">Error nombre</span>
														</div>
													</div>
													<div class="col-md-4">
														<div class="form-group">
															<label class="small mb-1" for="radioVictimaDelincuencia">¿Conoce
																al agresor? </label>
															<div class="form-check">
																<input class="form-check-input" type="radio"
																	name="conoce_agresor" id="conoce_agresor1" value="Si"
																	th:field="*{conoce_agresor}"> <label
																	class="form-check-label" for="conoce_agresor">
																	Si </label>
															</div>
															<div class="form-check">
																<input class="form-check-input" type="radio"
																	name="conoce_agresor" id="conoce_agresor2" value="No"
																	th:field="*{conoce_agresor}"> <label
																	class="form-check-label" for="conoce_agresor">
																	No </label>
															</div>
															<span th:if="${#fields.hasErrors('conoce_agresor')}"
																th:errors="*{conoce_agresor}">Error nombre</span>
														</div>
													</div>
												</div>
												<ol class="breadcrumb mb-4">
													<li class="breadcrumb-item active">Datos Adicionales</li>
												</ol>
												<div class="form-row">
													<div class="col-md-4">
														<div class="form-group">
															<label for="infAdicional" class="small mb-1">Información
																adicional:</label>
															<textarea class="form-control" aria-label="With textarea"
																id="textareaInfAdd" name="info_adicional"
																th:field="*{info_adicional}">
																</textarea>
														</div>
													</div>
												</div>
												<ol class="breadcrumb mb-2"></ol>
												<div class="form-row">
													<div class="col-md-4">
														<div class="form-group">
															<label class="small mb-1" for="horaEntrada">Hora
																de salida:</label> <input type="datetime-local" name="h_salida"
																class="form-control form-control-sm"
																th:field="*{h_salida}" required /> <span
																th:if="${#fields.hasErrors('h_salida')}"
																th:errors="*{h_salida}">Error nombre</span>
														</div>
													</div>
												</div>
												<div class="form-group mt-4 mb-0">
													<button type="submit" class="btn btn-primary btn-block">
														<i class="fas fa-save"></i> Agregar
													</button>
													<!-- <a class="btn btn-primary btn-block" href="login.html">Agregar</a> -->
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</main>
				<br>
			</div>
			<footer class="py-4 bg-light mt-auto">
				<div class="container-fluid">
					<div
						class="d-flex align-items-center justify-content-between small">
						<div class="text-muted">Dirección de Informática Financiera</div>
						<!-- 						<div> -->
						<!-- 							<a href="#">Privacy Policy</a> &middot; <a href="#">Terms -->
						<!-- 								&amp; Conditions</a> -->
						<!-- 						</div> -->
					</div>
				</div>
			</footer>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"
		crossorigin="anonymous"></script>
	<script src="js/scripts.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
		crossorigin="anonymous"></script>
	<script src="assets/demo/chart-area-demo.js"></script>
	<script src="assets/demo/chart-bar-demo.js"></script>
	<script
		src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"
		crossorigin="anonymous"></script>
	<script src="assets/demo/datatables-demo.js"></script>
</body>
</html>

