<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="layout/plantilla::head">

</head>
<body class="sb-nav-fixed">
    <header th:replace="layout/plantilla :: header">
    </header>

    <div id="layoutSidenav">
        <div th:replace="layout/plantilla::aside">
                
        </div>
        <div id="layoutSidenav_content">
            <div id="layoutAuthentication_content">
                <main>
                    <h2>Especificar cuantos habitan con la victima</h2>
                    <br/>
                    <form th:action="@{crear_relaciones_familiares}" method="post" th:object=${familiares}>
                        <div class="errorblock" th:if="${#fields.hasErrors('*')}">
                            <ul>
                                <li th:each="err : ${#fields.errors('*')}"
                                    th:text="${err}">Input is incorrect</li>
                            </ul>
                        </div>
                        <label for="nombre">Nombre</label>
                        <input type="text" name="nombre" th:field="*{nombre}" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+" minlength="4" required/>
                        <span th:if="${#fields.hasErrors('nombre')}" th:errors="nombre">Error nombre</span>
                        <br/>

                        <label for="edad">Edad:</label>
                        <input type="number" name="edad" th:field="*{edad}" pattern="[0-9]+" minlength="4" required/>
                        <span th:if="${#fields.hasErrors('edad')}" th:errors="*{edad}">Error nombre</span>
                        <br/>

                        <label for="ocupacion">Ocupacion</label>
                        <input type="text" name="ocupacion" th:field="*{ocupacion}" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+" minlength="4" required/>
                        <span th:if="${#fields.hasErrors('ocupacion')}" th:errors="*{ocupacion}">Error nombre</span>
                        <br/>

                        <label for="parentezco">Parentezco</label>
                        <input type="text" name="parentezco" th:field="*{parentezco}" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+" minlength="4" required/>
                        <span th:if="${#fields.hasErrors('parentezco')}" th:errors="*{parentezco}">Error nombre</span>
                        <br/>


                        <input type="submit" name="guardar" value="Guardar"/>
                    </form>
                </main>
                <br>
            </div>
            <footer th:replace="layout/plantilla::footer">
            
            </footer>
        </div>
    </div>
    <th:block th:reaplce="layout/plantilla::script"></th:block>         
</body>
</html>